
.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid var(--neutral-40);

  transition: opacity 0.2s ease;
}

.iconButton:hover {
  opacity: 0.7;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 6px;

  background: none;
  border: 1px dashed var(--neutral-40);
  border-radius: 8px;
  padding: 6px 12px;

  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-80);

  cursor: pointer;
  transition: all 0.2s ease;
}

.addButton span {
  font-size: 18px;
  font-weight: bold;
}

.addButton:hover {
  background: var(--neutral-10);
  border-color: var(--neutral-60);
}



